.heading + .heading {
  margin-top: 1.5rem;
}
@media (min-width: 40em) {
  .heading {
    align-items: flex-end;
    display: flex;
  }
  .heading + .heading {
    margin-top: 1.5rem;
  }
}

.heading-component {
  font-weight: 400;
  line-height: 1;
  margin: 0;
  order: 2;
  white-space: nowrap;
}

.heading-code {
  color: darkslategray;
  display: block;
  font-family: monospace;
  font-size: 1em;
  line-height: 1;
  margin-top: .5em;
}
@media (min-width: 40em) {
  .heading-code {
    margin-top: 0;
    width: 5.5em;
  }
}
