.item-picker {
  border: none;
  margin-left: -.5rem;
  margin-right: -.5rem;
  padding: 0;
}

.item-picker-legend {
  padding-right: .5rem;
  padding-left: .5rem;
}

.item-picker-label {
  cursor: pointer;
  display: inline-block;
}

/**
 * Hide with `opacity`, presumably for screen readers.
 * {@link http://wtfforms.com}
 */
.item-picker-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.item-picker-input:focus ~ .item-picker-text {
  border-color: orangered;
}

.item-picker-input:checked ~ .item-picker-text {
  color: orangered;
  font-weight: 700;
}
.item-picker-text {
  border: 1px solid transparent;
  border-radius: 2px;
  color: indigo;
  margin-top: -.25rem;
  padding: .5rem;
  text-decoration: underline;
}
