.numeric-picker-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.numeric-picker-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: .5rem;
  text-align: center;
}
.numeric-picker-button > span {
  border: 1px solid transparent;
  background: indigo;
  border-radius: 100%;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
}
.numeric-picker-button:focus > span,
.numeric-picker-button:hover > span {
  background: purple;
}
.numeric-picker-button:active > span {
  background: mediumvioletred;
}

.numeric-picker-button-alt > span {
  background: orangered;
}
.numeric-picker-button-alt:focus > span,
.numeric-picker-button-alt:hover > span {
  background: crimson;
}
.numeric-picker-button-alt:active > span {
  background: mediumvioletred;
}

.numeric-picker-icon {
  height: .75rem;
  margin-top: .333rem;
  width: .75rem;
}
.numeric-picker-icon path {
  fill: #fff;
}

.numeric-picker-input {
  background: #fff;
  border: 1px solid #333;
  color: #000;
  display: block;
  font-family: inherit;
  font-size: 100%;
  flex-grow: 2;
  line-height: 1;
  margin: 0;
  padding: .25em;
  text-align: center;
}
.numeric-picker-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
