.numeric-picker-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.numeric-picker-button {
  border: 1px solid transparent;
  background: indigo;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 100%;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0;
  text-align: center;
  width: 1.5em;
}
.number-picker-button-alt {
  background: orangered;
}

.numeric-picker-input {
  background: #fff;
  border: 1px solid #333;
  color: #000;
  display: block;
  font-family: inherit;
  font-size: 100%;
  flex-grow: 2;
  line-height: 1;
  margin: 0 .5em;
  padding: .25em;
  text-align: center;
}
.numeric-picker-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
