.controls {
}

.controls-fieldset {
  border-color: darkgray;
  border-style: solid;
  border-width: 0 0 1px;
  display: block;
  margin: 0 0 1rem;
  padding: 0 0 .5rem;
}

.controls-item {
  margin-bottom: .75rem;
}
