.header {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}
.header-name {
  color: indigo;
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-size: 150%;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
.header-name span:nth-child(3),
.header-name span:nth-child(4) {
  color: purple;
}
.header-name span:nth-child(5),
.header-name span:nth-child(6) {
  color: mediumvioletred;
}
.header-name span:nth-child(7),
.header-name span:nth-child(8) {
  color: crimson;
}
.header-name span:nth-child(9),
.header-name span:nth-child(10) {
  color: orangered;
}