.footer {
  font-size: 80%;
  line-height: 1;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}

.footer-fine-print {
  display: block;
  font-size: 100%;
  line-height: inherit;
}
.footer-fine-print a {
  color: inherit;
}