*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linen;
	color: black;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	margin: 0;
}

#app {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
}
#app > * {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
#app main {
	background: #fff;
	-webkit-box-ordinal-group: 0;
	    -ms-flex-order: -1;
	        order: -1;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	width: 100%;
}
#app > form {
	-webkit-box-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
}

@media (min-width: 36em) {
	#app {
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		height: 100vh;
		min-height: 0;
	}
	#app > * {
		width: 15rem;
	}
	#app main {
		height: 100vh;
		width: calc(100vw - 15rem);
	}
}
@media (min-width: 40em) {
  #app > * {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  #app > * {
    width: 20rem;
  }
  #app main {
    width: calc(100vw - 20rem)
  }
}

.label__xQGF4 {
  display: block;
  font-size: 80%;
  line-height: 1;
  padding: .25rem 0 .5rem;
}

.item-picker__1LB8f {
  border: none;
  margin-left: -.5rem;
  margin-right: -.5rem;
  padding: 0;
}

.item-picker-legend__1JCV- {
  padding-right: .5rem;
  padding-left: .5rem;
}

.item-picker-label__2ZxiA {
  cursor: pointer;
  display: inline-block;
}

/**
 * Hide with `opacity`, presumably for screen readers.
 * {@link http://wtfforms.com}
 */
.item-picker-input__1IjHQ {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.item-picker-input__1IjHQ:focus ~ .item-picker-text__1GCWT {
  border-color: orangered;
}

.item-picker-input__1IjHQ:checked ~ .item-picker-text__1GCWT {
  color: orangered;
  font-weight: 700;
}
.item-picker-text__1GCWT {
  border: 1px solid transparent;
  border-radius: 2px;
  color: indigo;
  margin-top: -.25rem;
  padding: .5rem;
  text-decoration: underline;
}

.numeric-picker-wrapper__RyN2v {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.numeric-picker-button__33Log {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: .5rem;
  text-align: center;
}
.numeric-picker-button__33Log > span {
  border: 1px solid transparent;
  background: indigo;
  border-radius: 100%;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
}
.numeric-picker-button__33Log:focus > span,
.numeric-picker-button__33Log:hover > span {
  background: purple;
}
.numeric-picker-button__33Log:active > span {
  background: mediumvioletred;
}

.numeric-picker-button-alt__3LYGo > span {
  background: orangered;
}
.numeric-picker-button-alt__3LYGo:focus > span,
.numeric-picker-button-alt__3LYGo:hover > span {
  background: crimson;
}
.numeric-picker-button-alt__3LYGo:active > span {
  background: mediumvioletred;
}

.numeric-picker-icon__1_a5p {
  height: .75rem;
  margin-top: .333rem;
  width: .75rem;
}
.numeric-picker-icon__1_a5p path {
  fill: #fff;
}

.numeric-picker-input__3E4aJ {
  background: #fff;
  border: 1px solid #333;
  color: #000;
  display: block;
  font-family: inherit;
  font-size: 100%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  line-height: 1;
  margin: 0;
  padding: .25em;
  text-align: center;
}
.numeric-picker-input__3E4aJ::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.text-picker-select__2nm6j {
  font-family: inherit;
  font-size: 100%;
  width: 100%;
}
.controls__3v8MM {

}

.controls-fieldset__3po-o {
  border: none;
  display: block;
  margin: 0;
  padding: 0;
}

.controls-item__jGIMd {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.footer__14P9B {
  font-size: 80%;
  line-height: 1;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}

.footer-fine-print__37ar7 {
  display: block;
  font-size: 100%;
  line-height: inherit;
}
.footer-fine-print__37ar7 a {
  color: inherit;
}
.header__3QGkI {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}
.header-name__2z2UV {
  color: indigo;
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-size: 150%;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
.header-name__2z2UV span:nth-child(3),
.header-name__2z2UV span:nth-child(4) {
  color: purple;
}
.header-name__2z2UV span:nth-child(5),
.header-name__2z2UV span:nth-child(6) {
  color: mediumvioletred;
}
.header-name__2z2UV span:nth-child(7),
.header-name__2z2UV span:nth-child(8) {
  color: crimson;
}
.header-name__2z2UV span:nth-child(9),
.header-name__2z2UV span:nth-child(10) {
  color: orangered;
}
.heading__dcnRF + .heading__dcnRF {
  margin-top: 1.5rem;
}
@media (min-width: 40em) {
  .heading__dcnRF {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .heading__dcnRF + .heading__dcnRF {
    margin-top: 1.5rem;
  }
}

.heading-component__1ZpJ5 {
  font-weight: 400;
  line-height: 1;
  margin: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  white-space: nowrap;
}

.heading-code__2L7kk {
  color: darkslategray;
  display: block;
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-family: monospace;
  font-size: 1em;
  line-height: 1;
  margin-top: .5em;
}
@media (min-width: 40em) {
  .heading-code__2L7kk {
    margin-top: 0;
    width: 5.5em;
  }
}

.heading-abbr__1xvIl[title] {
  text-decoration: none;
}

/* Font family variants */
.heading-component--bogle__3tCL4 {
  font-family: BogleWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.heading-component--monospace__1jqSb {
  font-family: Consolas, Monaco, "Courier New", monospace;
}
.heading-component--serif__3kEWv {
  font-family: serif;
}
.preview__29z7d {
}

.preview-item__3X7JB {
}


/*# sourceMappingURL=ssr-bundle.fd406.css.map*/